---
layout: default 
---
<!--  for first card divided page  -->
<div class="post-ribbon"></div>
<main class="post-main mdl-layout__content">
  <div class="post-container mdl-grid">
    <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
    <div class="post-section mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">
      <div class="mdl-color-text--grey-500">
      {{ page.duration}}
      </div>
      <h3>{{ page.subtitle }}</h3>
      <article class="post-content">
        {{ content }}
      </article>
     <button class="mdl-button" >
          <a href="{{ site.url | prepend: site.baseurl }}">Back to main page</a>
        </button>
    </div>
  </div>
</main>
